* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

#gameboard{
	position: relative;
}


#field {
	margin: 0 auto;
	padding-left: 80px;
	padding-top: 80px;
}
td {
	width: 80px;
	height: 80px;
	font-size: 50px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

tbody > tr:nth-child(odd) td:nth-child(even), tbody > tr:nth-child(even) td:nth-child(odd) {
	background-color: grey;
}
tbody > tr:nth-child(odd) td:nth-child(odd), tbody > tr:nth-child(even) td:nth-child(even){
	background-color: #CCC;
}

.piece {
	cursor: pointer;
}

#field > tbody > tr > td.indicating {
	background-color: blue;
}

thead {
	position: relative;
}

.numberAxis {
	position: absolute;
}

.numberAxis > td {
	display: block;
}