* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

#gameboard{
	position: relative;
	width: 698px;
	margin: 0 auto;
}


#field {
	padding: 20px;
}
td {
	width: 80px;
	height: 80px;
	font-size: 50px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

tbody > tr:nth-child(odd) td:nth-child(even), tbody > tr:nth-child(even) td:nth-child(odd) {
	background-color: grey;
}
tbody > tr:nth-child(odd) td:nth-child(odd), tbody > tr:nth-child(even) td:nth-child(even){
	background-color: #CCC;
}

.playable {
	cursor: pointer;
}

#field > tbody > tr > td.indicating {
	background-color: rgb(113, 166, 228);
}

#field > tbody > tr > td.indicating.golden {
	background-color: gold;
}

#field > tbody > tr > td.attackable {
	background-color: rgb(224, 72, 72);
}



thead {
	position: relative;
}

.numberAxis {
	position: absolute;
	font-size: 0px;
	top: 21px;
}

.numberAxis > span {
	display: block;
	height: 82px;
	font-size: 16px;
	padding-top: 30px;
	text-align: center;
	width: 21px;
}

.letterAxis {
	position: absolute;
	left: 21px;
	font-size: 0px;
}

.letterAxis > span {
	width: 82px;
	display: inline-block;
	text-align: center;
	font-size: 16px;
}


















.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome and Opera */
  }