#gameboard {
	margin: 0 auto;
}
td {
	width: 80px;
	height: 80px;
	font-size: 50px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

tr:nth-child(odd) td:nth-child(even), tr:nth-child(even) td:nth-child(odd) {
	background-color: grey;
}
tr:nth-child(odd) td:nth-child(odd), tr:nth-child(even) td:nth-child(even){
	background-color: #CCC;
}

.piece {
	cursor: pointer;
}

#gameboard > tbody > tr > td.indicating {
	background-color: blue;
}